$border: 2px solid #dcdfe6;
$active-border-color: #409eff;

html {
  box-sizing: border-box;
  padding: 16px 24px 0 16px;
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.display-flex {
  display: flex;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;

  &.rtl {
    justify-content: flex-end;
  }
}

.col {
  flex: 1;
  padding: 8px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: none;
    width: (100% / 12) * $i;
  }
}

#endpoint-input {
  width: 100%;
  padding: 0 8px;
  font-size: inherit;
  line-height: 40px;
  border: $border;
  border-radius: 4px;
  outline: 0;

  &:focus {
    border-color: $active-border-color;
  }
}

.textarea {
  width: 100%;
  height: 400px;
  min-height: 150px;
  font-size: 1rem;
  tab-size: 2;
  resize: vertical;
  border: $border;
  border-radius: 4px;
  outline: 0;

  &.cat {
    background-image: url('../assets/cat.jpg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 300px;
  }

  &.nobel {
    background-image: url('../assets/Nobel_Prize.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 200px;
  }

  &:focus {
    border-color: $active-border-color;
  }
}

.example-query-label {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: $border;
  border-radius: 4px;
}

[type='radio'] {
  display: none;

  &:checked + .example-query-label {
    background-color: #c6e2ff;
    border-color: $active-border-color;
  }
}

.btn {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 40px;
  cursor: pointer;
  border: $border;
  border-radius: 4px;
  outline: 0;

  &.danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.query-btn {
  background: #c6e2ff;
}
