table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ebeef5;
  &:hover {
    background-color: #f5f7fa;
  }
}

td {
  padding: 15px 8px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:first-child {
    text-align: left;
  }
}
